.infoContainer {
    padding: 3em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blogInfoContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 79vw;
    gap: 3em;
}

.blogTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    /* margin-bottom: 2em; */
    padding: 1em 3em;
    border-radius: 1em;
    background-color: #f0f0f0;
    /* position: sticky;
    top: 10%; */
}

.blogDescription {
    text-align: center;
    font-size: 20px;
}

.btnContainer {
    display: flex;
    gap: 1em;
    margin: 1em;
}

.editBtn {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: #4caf50;
    color: white;
}

.deleteBtn {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: #f85555;
    color: white;
}

.editBtn:hover {
    background-color: #129117;
}

.deleteBtn:hover {
    background-color: #f83131;
}

@media (max-width: 660px) {
    .destinationBookContainer {
        flex-direction: column;
    }

    .destinationBookContainer p {
        flex-wrap: nowrap;
    }
}