.navbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 13px;
  position: sticky;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 95%;
  height: 80px;
  background-color: var(--bg-white);
  z-index: 9999;
}

.navbarItems li a {
  color: var(--text-color);
}

.logo {
  display: flex;
  text-align: end;
  cursor: pointer;
}

.logo i {
  font-size: 0.8em;
  padding-left: 0.3em;
}

.logo h1 {
  font-size: 20px;
  white-space: nowrap;
  color: var(--text-color);

}

.navMenu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  align-items: center;
  white-space: nowrap;
}

.navLinks {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.7rem 0.7rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.navLinks {
  color: var(--text-color);
}

.navLinks i {
  padding-right: 0.2em;
}

.navLinks:hover {
  background-color: var(--main-color);
  color: var(--bg-white);
  border-radius: 6px;
  box-shadow: 0 5px 20px var(--main-color);
}

.navLinksMobile {
  display: none;
}

.navbarBtn {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;

  transition: 0.2s ease-in-out;
}

.navbarBtn:hover {
  background-color: var(--second-color);
  color: var(--bg-white);
}

.menuIcons {
  display: none;
  transition: 0.2s ease-in-out;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown .dropbtn {
  width: 150px;
  gap: 3em;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: .3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.dropdownContent {
  width: 150px;
  margin-top: 2.4em;
  padding: 1.4em 2em;
  gap: 1.2em;
  border-radius: 0 0 6px 6px;
  color: var(--text-color);
  display: none;
}

.dropdownContent button {
  font-weight: 700;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
}

.dropdown:hover {
  .dropdownContent {
    display: flex;
    background-color: #f0f0f0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
}

@media (max-width: 1000px) {
  .navbarItems {
    z-index: 99;
  }

  .menuIcons {
    display: block;
    font-size: 1.7rem;
    color: var(--text-color);
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.48);
    box-shadow: 0 8px 32px 0 rgb(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }

  .navMenu.active {
    right: 0;
    opacity: 1;
    z-index: -1;
  }

  .navLinks {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 2rem 0;
    text-align: center;
    font-weight: 700;
  }

  .navLinks:hover {
    background: var(--main-color);
  }

  .navbarBtn {
    display: none;
  }

  .navLinksMobile {
    display: block;
    text-align: center;
    padding: 1.2rem;
    margin: auto;
    border-radius: 4px;
    width: 80%;
    background-color: var(--second-color);
    color: var(--bg-white);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
  }

  .dropbtn {
    width: 80% !important;
    padding: 1.2rem !important;
    font-size: 1.6rem !important;
    font-weight: 700 !important
  }

  .dropdownContent {
    width: 80% !important;
    padding: 1.2rem !important;
    margin-top: 4em;
  }

  .dropdownContent button {
    font-size: 1rem;
    font-weight: 700;
  }

  .modalContainer .modal .form-group {
    margin-bottom: 1rem;
  }

  .modalContainer .modal .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }

  .modalContainer .modal .form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}